
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* ----------------------------------------HEADER AREA STARTS HERE------------------------------------------ */
body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    

}
header{
  
    background-color:#2D25A0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
 .header-left{
     padding-left: 156px;
     padding-top: 207px;
     padding-right: 102px;

 }

 
 .header-left h1{
     width: 485px;
     font-size: 64px;
     line-height: 80px;
     font-weight: 700;
     color: #FFFFFF;
     margin-block-start: 0;
     margin-block-end: 0;
     
     
 }
 .header-button{
     margin-top: 27px;
     margin-bottom: 169px;
     padding: 10px 24px;
     background:linear-gradient(to right ,rgb(216, 152, 160),orange);
     width: 168px;
     height:44px ;
     border: none;
     border-radius: 20px;
     transition:width 0.3s;
 }
 .header-button:hover{
     width: 250px;
     background: red;
 }
.header-button i{
    margin-left: 7px;
}
.header-button a{
    text-decoration: none;
    color: white;
}

 .header-right{
     margin-top: 153px;
 } 
.header-right img{
   
   width: 556.01px;
   height: 438px;
} 

/* ---------------------------header-area Ends-------------------------- */

/* ------------------------MAIN AREA STARTS HERE */
/* 
.section-1{
    margin-top: 27px;
}
 
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    grid-gap: 27px 30px;
    margin-left:180px ;
    margin-right: 210px;
    margin-top: 70px;
    margin-bottom: 165px;
}

.player{
    width: 300px;
    height: 474px;
    padding: 15px;
    box-shadow: 1px 1px 30px whitesmoke;
 
}
.player-image{
    width: 300px;
 
  
}
.player-image img{
    width: 300px;
    height: 256px;
}

.player-text{
    width: 300PX;
    height: 154px;
}
.player-text h3{
    margin-block-start: 0PX;
    margin-inline-end: 0PX;
    margin-block-end: 0px;
    font-weight: 0;
}




.section-2{
    background-color: whitesmoke;
    padding: 150px;
}
.section-2 h2{
    text-align: center;
    margin-bottom: 60px;
}
.copa-finalist{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.country{
    width: 35%;
  
}
.flag{
   width: 60%;
}
.flag img{
    width: 100%;
   height: 250px;
  
}
.flag-text h2{
    margin-top: 20px;
}







.section-3{
    width: 45%;
    margin: 0 auto;
    margin-bottom: 200px;
    margin-top:150px;
    box-shadow: 1px 1px 50px whitesmoke;
    padding: 50px;
    border-radius: 10px;
}
.section-3 h2{
    text-align: center;
    padding-bottom: 30px;
}
.section-3 p{}
.section-3-form{}
.section-3-form input[type="submit"]{
    margin-top: 30px;
    padding:10px 30px;
    background:linear-gradient(to right ,rgb(216, 152, 160),orange);
    color: white;
    border: none;
    border-radius: 20px;
    font-size: 20px;

}

















/* -----------MAIN AREA ENDS HERE-------------------- */







/*------------- Footer Starts Here-------------- */





footer{
   width: 484px;
   margin: 0 auto;
   margin-bottom: 63px;
}

.footer-image img{
    width: 400px;
}

.footer-text{
    
    width: 170px;
    display: flex;
    justify-content: space-between;

    margin:0 auto; 
}
.footer-icon{
    width:32px;
    height: 32px;
    background-color:rgba(139, 33, 33, 0.199);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-text a{
    font-size: 20px;
    padding: 5px;
    text-decoration: none;
    margin: 0;
    color: black;
  

}

.copyright{
    width: 236px;
    margin: 0 auto;
}
.copyright p{
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
}





/* -------------------MEDIA QUERY STARTS HERE--------------- */

@media  only screen and (max-width:576px) {
 body{
    margin: 0;
  
    font-family: 'Poppins', sans-serif;

}
header{
   width: 100%;
    background-color:#2D25A0;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

.header-left{
    padding-left: 16px;
    padding-top: 112px;
    padding-right: 70px;

}
 
.header-left h1{
    width: 274px;
    font-size: 36px;
    line-height: 50px;
    font-weight: 700;
    color: #FFFFFF;
    margin-block-start: 0;
    margin-block-end: 0;
    
}
.header-button{
    margin-top: 30px;
    margin-bottom: 50px;
    margin-right: 173px;
    padding: 10px 24px;
    background:linear-gradient(to right ,rgb(216, 152, 160),orange);
    width: 168px;
    height:44px ;
    border: none;
    border-radius: 20px;
 
}

.header-button i{
   margin-left: 8px;
}
.header-button a{
   text-decoration: none;
   color: white;
}

.header-right{
    margin-left: 15px;
    margin-right: 16px;
    margin-top: 50px;
    margin-bottom: 62px;
} 
.header-right img{
  
  width: 329px;
  height: 260px;

}

.main,footer{
    display: none;
}
/* Section-1 Starts---------------------------- */

/* .section-1{
    margin-top: 47px;
  
    
}
 
.players{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 24px 0px;
    margin-left:15px ;
    margin-right: 15px;
    margin-top: 47px;
    margin-bottom: 165px;
}

.player{
    width: 330px;
    height: 474px;
    padding: 15px;
    box-shadow: 1px 1px 30px whitesmoke;
 
}
.player-image{
    width: 300px;
 
  
}
.player-image img{
    width: 300px;
    height: 256px;
}

.player-text{
    width: 300PX;
    height: 154px;
}
.player-text h3{
    margin-block-start: 0PX;
    margin-inline-end: 0PX;
    margin-block-end: 0px;
    font-weight: 0;
}




/* SECTION-2 STARTS----------------------------------- */

 
.section-2{
    background-color: whitesmoke;
    
}
.section-2 h2{
    text-align: center;
    margin-bottom: 60px;
}
.copa-finalist{
    display: flex;
    flex-direction: column;
   
}
.country{
    width: 25%;
    
}
.flag{
   width: 30%;
}
.flag img{
   height: 150px;
   width: 250px;
}
.flag-text h2{
    margin-top: 5px;
}
 


 /* -----------SECTION-3 STARTS-------------------- */



 .section-3{
    width: 45%;
    margin: 0 auto;
    margin-bottom: 200px;
    margin-top:150px;
    box-shadow: 1px 1px 50px whitesmoke;
    padding: 20px;
    border-radius: 10px;
}
.section-3 h2{
    text-align: center;
    padding-bottom: 30px;
}
.section-3-form input[type="submit"]{
    margin-top: 30px;
    padding:10px 20px;
    background:linear-gradient(to right ,rgb(216, 152, 160),orange);
    color: white;
    border: none;
    border-radius: 20px;
    font-size: 20px;

}


/* --------------FOOTER STARTS HERE------------------ */



footer{
    width: 350px;
    margin: 0 auto;
    margin-bottom: 63px;
 }
 
 .footer-image img{
     width: 300px;
 }
 
 .footer-text{
     
     width: 170px;
     display: flex;
     justify-content: space-between;
 
     margin:0 auto; 
 }
 .footer-icon{
     width:15px;
     height: 15px;
     background-color:rgba(139, 33, 33, 0.199);
     border-radius: 50%;
     display: flex;
     justify-content: center;
     align-items: center;
 }
 .footer-text a{
     font-size: 20px;
     padding: 5px;
     text-decoration: none;
     margin: 0;
     color: black;
   
 
 }
 
 .copyright{
     width: 236px;
     margin: 0 auto;
 }
 .copyright p{
     font-size: 18px;
     font-weight: 400;
     line-height: 24px;
 } */



} 