
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* ----------------------------------------HEADER AREA STARTS HERE------------------------------------------ */
body{
    margin: 0;
    font-family: 'Poppins', sans-serif;

}
header{
  
    background-color:#2D25A0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
 .header-left{
     padding-left: 156px;
     padding-top: 207px;
     padding-right: 102px;

 }
 .header-left h1{
     width: 485px;
     font-size: 64px;
     line-height: 80px;
     font-weight: 700;
     color: #FFFFFF;
     margin-block-start: 0;
     margin-block-end: 0;
     
     
 }
 .header-button{
     margin-top: 27px;
     margin-bottom: 169px;
     padding: 10px 24px;
 }
 .header-right{
     margin-top: 153px;
 } 
.header-right img{
   
   width: 556.01px;
   height: 438px;
} 

/* ---------------------------header-area Ends-------------------------- */

/* ------------------------MAIN AREA STARTS HERE */

.section-1{
    margin-top: 27px;
}
 
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left:180px ;
    margin-right: 210px;
    margin-top: 70px;
    margin-bottom: 165px;
}

.player{
    width: 300px;
    height: 474px;
    padding: 15px;
    box-shadow: 1px 1px 30px whitesmoke;
 
}
.player-image{
    width: 300px;
 
  
}
.player-image img{
    width: 300px;
    height: 256px;
}

.player-text{
    width: 300PX;
    height: 154px;
}
.player-text h3{
    margin-block-start: 0PX;
    margin-inline-end: 0PX;
    margin-block-end: 0px;
    font-weight: 0;
}








/* -----------MAIN AREA ENDS HERE-------------------- */





footer{
   width: 484px;
   margin: 0 auto;
   margin-bottom: 63px;
}

.footer-image img{
    width: 400px;
}

.footer-text{
    width: 170px;
    margin:0 auto;
}
.footer-text i{
    font-size: 20px;
    padding: 5px;

}

.copyright{
    width: 236px;
    margin: 0 auto;
}
.copyright p{
    font-size: 18px;
    font-weight: 400;
}